@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: serif;
}

body {
  margin: auto;
  max-width: 165rem;
  background-color: black;
  color: white;
}

.nav-container {
  background-color: #7c5c0c;
  position: sticky;
  top: 0;
  z-index: 3;
  font-family: 'Bebas Neue', sans-serif;
}

nav .logo {
  text-align: center;
  font-size: 3rem;
  line-height: 2.5rem;
}

nav {
  display: flex;
  align-items: center;
  height: 8rem;
  padding: 0 5rem;
  font-size: 1.7rem;
}

nav ul {
  display: flex;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
  padding-left: 5rem;
  
}

nav a:hover {
  color: rgba(0, 0, 0, 0.404);
  transition: all 500ms ease-out;
}

.bio-container,
.news-container {
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 80rem;
}

.bio-container {
  background-image: url(/img/musicianBiobg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  color: #bebebe;
}

.bio-container p {
  font-size: 2rem;
  line-height: 1.4;
  padding: 0rem 2rem;
  padding-left: 4rem;
  max-width: 50rem;
  animation: bioreveal 3s ease-in-out;
}

.bio-container span {
  font-size: 2rem;
  font-weight: bold;
  color: #7c5c0c;
}

.titles {
  text-align: center;
  font-size: 4rem;
  font-family: 'Bebas Neue', sans-serif;
  padding: 2rem 0rem;
}

.news-container {
  background-image: url(/img/musiciannewsbg.png.jpeg);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.news-box {
  width: 24rem;
  height: 40rem;
  background-color: rgb(0, 0, 0, 0.5);
  border-radius: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
  padding: 7rem 1.6rem;
  position: relative;
  transition: transform 0.2s ease-in-out;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.news-box:hover {
  transform: translateY(-1.2rem) scale(1.1);
  opacity: 1;
}

.date {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  min-height: initial;
}

.gallery-container img {
  width: 100%;
  height: auto;
  opacity: 0.75;
  transition: all 0.2s ease-in-out;
}

.gallery-container img:hover {
  opacity: 1;
  transform: scale(1.01);
}

.tour-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.all-tours {
  background-color: #7c5c0c;
  width: 80%;
  min-width: 10rem;
  height: 5rem;
  margin-bottom: 2rem;
  padding: 0rem 1rem;
  border-radius: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tour-date {
  font-size: 1rem;
}

.tour-venue {
  font-size: 0.9rem;
}

.tour-button {
  background-color: black;
  color: white;
  border: none;
  padding: 0.6rem;
  border-radius: 0.2rem;
  font-size: 0.9rem;
}

.tour-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.tour-button a {
  color: white;
  text-decoration: none;
}

.contact-container {
  padding: 7rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.text-input {
  color: white;
  background-color: black;
  width: 95vw;
  max-width: 60rem;
  border: 0.2rem solid #7c5c0c;
  margin-bottom: 2.5rem;
  border-radius: 0.3rem;
  outline: none;
}

.contact-name,
.contact-email {
  height: 4rem;
}

textarea {
  height: 30rem;
  width: 95vw;
  color: white;
  background-color: black;
  max-width: 60rem;
  border: 0.2rem solid #7c5c0c;
  margin-bottom: 2rem;
  resize: none;
  border-radius: 0.3rem;
  outline: none;
}

.contact-button {
  color: white;
  background-color: black;
  max-width: 60rem;
  border: 0.2rem solid #7c5c0c;
  margin-bottom: 2rem;
  padding: 0.7rem;
  position: absolute;
  bottom: -5rem;
  right: 0rem;
  border-radius: 0.3rem;
}

footer {
  background-color: #7c5c0c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
}

@keyframes bioreveal {
  from {
    opacity: 0;
    transform: translateX(-4rem);
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 60rem) {
  
  body {
  margin: initial;
}
  
  nav .logo {
    font-size: 2rem;
    line-height: 2rem;
  }

  nav {
    height: 8rem;
    padding: 0 0;
    font-size: 1.5rem;
    justify-content: space-around;
  }

  nav a {
    padding-left: 2rem;
    transition: all 500ms ease-out;
  }
  
  

  .news-b3 {
    display: none;
  }
}
